<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Attendance</title>
</head>
<body>
	<h2>Mark Attendance</h2>
	<form th:action="@{/attendance}" method="post" th:object="${employees}">
		<table border="1">
			<tr>
				<th>Date</th>
				<th>CM</th>
				<th>CE</th>
				<th>MM</th>
				<th>ME</th>
				<th>CW</th>
			</tr>
			<th:block th:each="emp, iterStat : *{employees}">
				<tr>
					<td><input style="text-align:center;" type="text" th:field="*{employees[__${iterStat.index}__].date}" readonly="readonly" /> </td>
					<td><input type="checkbox" th:field="*{employees[__${iterStat.index}__].CM}" /> </td>
					<td><input type="checkbox" th:field="*{employees[__${iterStat.index}__].CE}" /> </td>
					<td><input type="checkbox" th:field="*{employees[__${iterStat.index}__].MM}" /> </td>
					<td><input type="checkbox" th:field="*{employees[__${iterStat.index}__].ME}" /> </td>
					<td><input type="checkbox" th:field="*{employees[__${iterStat.index}__].CW}" /> </td>
				</tr>
			</th:block>
		</table><br/>
		<button type="submit" >Submit</button>
	</form>
</body>
</html>